/*==================   GRIDS    ======================*/
/*-------------  Susy Grids  -------------*/
@import "../vendor/susy/sass/susy";
$susy: (
  columns: 12, 
  
  // убрал две строки
  // gutters: 0.25,
  // container: 1140px,
  // так как в макете gutter-ы фиксированные, а не в процентах
  // это достигается вот такой магией:
  gutters: 30px/70px,
  column-width: 70px,
  gutter-position: inside-static,
  
  global-box-sizing: border-box,
  debug: (image: show-columns)
);

// и вот эту штуку еще надо, чтобы susy работала
@include border-box-sizing;
