// ----------------------- //
// Human style ----------- //
// ----------------------- //

.c-human {
    //@extend .container;
    &.is-grid {
        margin-left: -15px;
        .c-human__item {
            margin-top: $padding_base * 1.25;
            @include span(2 of 9);
            &:first-child {
                
            }
            &:nth-child(4n+1){
                clear: left;
            }
            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
                margin-top: 0px;
            }
            .c-human__thumbnail {
                border: 6px solid $color_orange;
            }
            .c-human__title {
                margin-top: $padding_base / 1.5;
            }
            @media (min-width: $screen_sm) and (max-width: $screen_md) {
                @include span(3 of 9);
                &:nth-child(4) {
                    margin-top: $padding_base * 1.25;
                }
                &:nth-child(4n+1){
                    clear: none;
                }                 
                &:nth-child(3n+1){
                    clear: left;
                }                    
            }
            @media (min-width: 450px) and (max-width: $screen_sm) {
                @include span(6);
                &:nth-child(3), &:nth-child(4){
                    margin-top: $padding_base * 1.25;
                }                
                &:nth-child(3n+1){
                    clear: none;
                }     
                &:nth-child(4n+1){
                    clear: none;
                }                  
                &:nth-child(2n+1){
                    clear: left;
                }                                    
            }
            @media (min-width: $screen_xs) and (max-width: 450px) {
                @include span(9 of 9);
                &:nth-child(2), &:nth-child(3), &:nth-child(4){
                    margin-top: $padding_base;
                }                
            }
        }
    }
}
.l-human__thumbnail {
    @include span(3 of 9);
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 30px;
    @media (min-width: $screen_xs) and (max-width: 700px) {
        @include span(9 of 9);
        margin-bottom: 15px;
        padding: 0px;
    }    
}
.l-human__text {
    //@include span(9);
    .l-human__blockquote {
        @include span(6 of 9 last);
        padding: $padding_base $padding_base * 2.25 $padding_base $padding_base * 3.5;        
    }
    @media (min-width: $screen_xs) and (max-width: 700px) {
        .l-human__blockquote {
            @include span(9 of 9 last);
            padding: $padding_base $padding_base * 2.25 $padding_base $padding_base * 3.5;  
        }
    }
    @media (min-width: 701px) and (max-width: 720px) {
        .l-human__blockquote {
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 10px;
            margin-bottom: 10px;
        }        
    }
    @media (min-width: 706px) and (max-width: 720px) {
        .l-human__blockquote {
            padding-bottom: 20px;
        }
    }
}

.c-human__thumbnail {
    position: relative;
    img {
        width: 100%;
        height: 100%;
        display: block;
    }  
    .c-human__thumbnail-caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        @include background-image(linear-gradient(to bottom, rgba($color_green_dark, 0), rgba($color_green_dark, 1)));
        padding: $padding_base / 1.2 $padding_base / 1.5;
        .c-human__title {
            @extend h4;
            font-weight: bold;
            margin: 0px;
            margin-bottom: $padding_base / 1.5;
            color: $color_white;
            text-align: left;
        }  
        .c-human__description {
            font-size: $font_size_base - 2;
            ine-height: $line_height_base - 2;
            color: $color_white;
            text-align: left;
        }        
    }    
}
.c-human__title {
    font-size: $font_size_base - 2;
    line-height: $line_height_base - 2;
    font-weight: bold;
    margin: 0px;
    margin-bottom: $padding_base / 1.5;
    color: $color_white;
    text-align: center;
    color: $color_gray_dark;
    margin-bottom: 0px;
}  
.c-human__description {
    font-size: $font_size_base - 2;
    line-height: $line_height_base - 2;    
    color: $color_gray;
    text-align: center;
}


