// ----------------------- //
// Logo style ------------ //
// ----------------------- //

.c-logo__link {   
    img {
        width: 100%;
        height: auto;
    }
    border-bottom: none; 
    @media (min-width: $screen_xs) and (max-width: $screen_sm) {
        max-width: 320px;
        display: block;
        margin: 0 auto;
    }
}
