// ----------------------- //
// Program style --------- //
// ----------------------- //

.c-program {
    @extend .container;
    padding-bottom: $padding_base / 2;
    .l-content__col {
        margin-bottom: 0px;
    }
}

.c-program__item {
    margin-bottom: $padding_base * 1.5;
    &.is-notactive {
        .c-program__title, .c-program__info, .c-program__description {
            color: $color_gray_light;
        }
        a {
            pointer-events: none;
            cursor: default;
            border-bottom-color: rgba($color_gray_light,0.5); 
        }
    }
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        margin-bottom: $padding_base;
    }
}
.c-program__title {
    font-weight: bold;
    color: $color_gray_dark;
    a {
        color: $color_gray_dark;
    }
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        font-size: $font_size_base;
        line-height: $line_height_base;
        
    }    
}
.c-program__description {
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        font-size: $font_size_base;
        line-height: $line_height_base;
        
    }     
}
.c-program__info {
    color: $color_gray_dark;
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        font-size: $font_size_base - 2;
        line-height: $line_height_base - 2;
        
    } 
}
