// ----------------------- //
// Program style --------- //
// ----------------------- //

.c-program {
    @extend .container;
    padding-bottom: $padding_base / 2;
    .l-content__col {
        margin-bottom: 0px;
    }
}

.c-program__item {
    margin-bottom: $padding_base * 1.5;
    &.is-notactive {
        .c-program__title, .c-program__info, .c-program__description {
            color: $color_gray_light; 
            a {
              color: $color_gray_light;   
            }
        }
        a {
            pointer-events: none;
            cursor: default;
            border-bottom-color: rgba($color_gray_light,0.5); 
        }
    }
    &.is-active {
        .c-program__title, .c-program__info, .c-program__description {
            color: $color_green; 
            a {
              color: $color_green;   
            }
        }
        a {
            pointer-events: none;
            cursor: default;
            border-bottom-color: rgba($color_green,0.5); 
        }        
    }
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        margin-bottom: $padding_base;
    }
}
.c-program__title {
    font-weight: bold;
    color: $color_gray_dark;
    a {
        color: $color_gray_dark;
    }
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        font-size: $font_size_base;
        line-height: $line_height_base;
        
    }    
}
.c-program__description {
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        font-size: $font_size_base;
        line-height: $line_height_base;
        
    }     
}
.c-program__info {
    color: $color_gray_dark;
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        font-size: $font_size_base - 2;
        line-height: $line_height_base - 2;
        
    } 
}
.c-program__box {
    margin-top: $padding_base * 2;
    &.is-background--green {
        background-color: $color_green;
        .c-content__title {
            color: $color_white; 
        }
        .c-program__item {
            .c-program__title, .c-program__info, .c-program__description {
                color: $color_white;
                a {
                  color: $color_white;  
                }
            }
            a {
                border-bottom-color: rgba($color_white,0.5); 
            }            
        }
    }    
}

.l-content__programs {
    padding: 0 15px;
    width: 100%; /* Ширина блока со всеми новостями */
    .c-program__item {
        display: inline-table; 
        width: 100%;
    }
    &.is-four {
        @include content-cols(4);
        @media (min-width: $screen_md) and (max-width: $screen_lg) {
            @include content-cols(4);        
        }
        @media (min-width: $screen_sm) and (max-width: $screen_md) {
            @include content-cols(2);
        }
        @media (min-width: $screen_xs) and (max-width: $screen_sm) {
            @include content-cols(1);     
        }           
    }
    &.is-two {             
        @include content-cols(2);
        @media (min-width: $screen_sm) and (max-width: $screen_md) {
            @include content-cols(2);          
        }
        @media (min-width: $screen_xs) and (max-width: $screen_sm) {
            @include content-cols(1); 
        }         
    }
}
