// ----------------------- //
// Reviews style --------- //
// ----------------------- //

.l-reviews {
    .c-content__title {
        padding-left: 0px;
        padding-top: 0px;
    }
}
.c-reviews__item {
    margin-bottom: $padding_base * 2;
    display: inline-block;
    .c-human__thumbnail {
        @include span(1 of 3);
        padding: 0px;
        @media (min-width: $screen_sm) and (max-width: $screen_md) {
             @include span(12);
        }
        @media (min-width: 451px) and (max-width: $screen_sm) {
            @include span(12);
        }
        @media (min-width: $screen_xs) and (max-width: 450px) {
            @include span(1 of 3);
        }
    }
    .c-human__thumbnail-caption {
        @include span(2 of 3);
        .c-human__title, .c-human__description {
            text-align: left;
            display: inline;
            font-weight: bold;
            color: $color_gray_dark; 
            font-size: $font_size_base;
            line-height: $line_height_base;
        }
        @media (min-width: $screen_sm) and (max-width: $screen_md) {
            @include span(12);
            padding: $padding_base / 2 0px;
            padding-bottom: 0px;
        }  
        @media (min-width: 451px) and (max-width: $screen_sm) {
            @include span(12);
            padding: $padding_base / 2 0px;
            padding-bottom: 0px;            
        }
        @media (min-width: $screen_xs) and (max-width: 450px) {
            @include span(2 of 3);
        }
    } 
    @media (min-width: $screen_sm) and (max-width: $screen_md) {
        @include span(4);
    }
    @media (min-width: 451px) and (max-width: $screen_sm) {
        @include span(6);
        margin-bottom: $padding_base;
    }
    @media (min-width: $screen_xs) and (max-width: 450px) {
        @include span(12);
        margin-bottom: $padding_base;
    }
}

.c-reviews__text {
    color: $color_gray_dark;  
    @include span(3 of 3);
    padding: 0px;
    margin-top: $padding_base / 2;
}