// ----------------------- //
// Reviews style --------- //
// ----------------------- //

.l-reviews {
    .c-content__title {
        padding-left: 0px;
        padding-top: 0px;
    }
}
.l-reviews__block {
    column-count: 1;
    column-gap: 0;
    width: 100%;  
    @media (min-width: $screen_sm) and (max-width: $screen_md) {
        column-count: 3;
    }
    @media (min-width: 451px) and (max-width: $screen_sm) {
        column-count: 2;
    }
    @media (min-width: $screen_xs) and (max-width: 450px) {
        column-count: 1;
    }
}
.c-reviews__item {
    break-inside: avoid;  
    padding-bottom: $padding_base * 2;
    @media (max-width: $screen_md) {
        padding: 0 15px;
    }
    .c-human__thumbnail {
        @include span(1 of 3);
        padding: 0px;
        @media (min-width: $screen_sm) and (max-width: $screen_md) {
             @include span(12);
        }
        @media (min-width: 451px) and (max-width: $screen_sm) {
            @include span(12);
        }
        @media (min-width: $screen_xs) and (max-width: 450px) {
            @include span(1 of 3);
        }
        @media (min-width: $screen_md) and (max-width: 1050px) {
            @include span(12);
        }      
        float: left;
    }
    .c-human__thumbnail-caption {
        display: inline-block;
        @include span(2 of 3);
        .c-human__title, .c-human__description {
            text-align: left;
            display: inline;
            font-weight: bold;
            color: $color_gray_dark; 
            font-size: $font_size_base;
            line-height: $line_height_base;
        }
        @media (min-width: $screen_sm) and (max-width: $screen_md) {
            @include span(12);
            padding: $padding_base / 2 0px;
            padding-bottom: 0px;
        }  
        @media (min-width: 451px) and (max-width: $screen_sm) {
            @include span(12);
            padding: $padding_base / 2 0px;
            padding-bottom: 0px;            
        }
        @media (min-width: $screen_xs) and (max-width: 450px) {
            @include span(2 of 3);
        }
        @media (min-width: $screen_md) and (max-width: 1050px) {
            @include span(12);
            padding: $padding_base / 2 0px;
            padding-bottom: 0px;                
        }           
    } 
    @media (min-width: 451px) and (max-width: $screen_sm) {
        padding-bottom: $padding_base;
    }
    @media (min-width: $screen_xs) and (max-width: 450px) {
        padding-bottom: $padding_base;
    }
}

.c-reviews__text {
    display: inline-block;
    color: $color_gray_dark;  
    width: 100%;
    padding: 0px;
    margin-top: $padding_base / 2;    
}

