// ----------------------- //
// Shedule style --------- //
// ----------------------- //

.c-schedule {
    &.is-table {
        margin: $padding_base 0;
        display: inline-block;
        .c-schedule__day {
            display: inline-block;
            min-width: 70px;
            @extend h4;
            margin-right: $padding_base * 3.25;
            float: left;
            min-height: $font_size_h4;
            line-height: $font_size_h4;
            clear: both;
            @media (min-width: $screen_xs) and (max-width: $screen_sm) {
                width: 100%;
                margin-bottom: $padding_base / 3;
            }
        }
        .c-schedule__content {
            width: 49%;
            @media (min-width: $screen_xs) and (max-width: $screen_sm) {
                width: 100%; 
            } 
            @media (min-width: $screen_lg) {
                width: 65%;
            }
        }        
    }
}
.c-schedule__item {
    margin-bottom: $padding_base;
    display: inline-block;
    width: 100%;    
    &:last-child {
        margin-bottom: 0px;
    }
}
.c-schedule__day {
    display: inline-block;
}
.c-schedule__time {
    display: inline-block;
    margin-right: $padding_base;
    color: $color_gray_dark;
    min-width: 115px;
    float: left;    
}
.c-schedule__content {
    display: inline-block;
    color: $color_gray_dark;
    float: left;
    width: 72%;    
    strong {
        font-weight: bold;
    }
    @media (min-width: $screen_xs) and (max-width: $screen_sm) {
        width: 100%; 
    }
}
