// ----------------------- //
// Slider style ---------- //
// ----------------------- //

.l-content__slider {   
    @extend .container;
    .l-content__box {
        @include span(12);
    }
}
.c-slider {
    @include span(12);
    padding: 0px;
    .flickity-prev-next-button.next, .flickity-prev-next-button.previous {
        opacity: 1;
        background: transparent;
        border: 2px solid $color_gray_light3;
        width: 50px;
        height: 50px;
    }
    .flickity-prev-next-button .arrow {
        fill: $color_gray_light3;
    }
    @media screen and (max-width: $screen_md) {
        .flickity-prev-next-button.next, .flickity-prev-next-button.previous {
            display: none;
        }        
    }    
    @media screen and (min-width: $screen_md) {
        .flickity-page-dots{
            display: none;
        } 
    }
    &.is-not-content {
        .flickity-prev-next-button.next, .flickity-prev-next-button.previous {
            border: 4px solid $color_white_dark4;
        }
        .flickity-prev-next-button .arrow {
            fill: $color_white_dark4;
        }        
        .c-slider__item {
            padding: 0px;
        }
    }
    
}
.c-slider__item {
    @include span(12);
    padding: $padding_base * 2.5 0;
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        margin-bottom: $padding_base / 2;
        padding: $padding_base * 1.5 0;
    }
}
.c-slider__title {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: $padding_base - 6;
    @media (min-width: $screen_xs) and (max-width: 400px) {
        font-size: $font_size_base + 4;
        line-height: $line_height_base + 4;
        margin-bottom: $padding_base / 2;
    }
    @media (min-width: 400px) and (max-width: $screen_md) {
        font-size: $font_size_base + 12;
        line-height: $line_height_base + 12;
    }
}
.c-slider__content {
    display: inline-block;
    @include span(7);
    @include push(1);
    padding: 0px;
    @media screen and (max-width: $screen_md) {
         @include span(10);
    }    
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        @include push(0.5);
    }
    @media (min-width: $screen_md) and (max-width: 950px) {
        @include span(7.2);
    }
}
.c-slider__subtitle {
    color: $color_white;
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        font-size: $font_size_base;
        line-height: $line_height_base;
    }  
    
}
.c-infoblock__footer {
    @include span(12);
    margin-top: $padding_base * 1.5;
    margin-bottom: $padding_base * 2;
    padding: 0;
    @media (min-width: $screen_xs) and (max-width: $screen_md) {
        margin-top: $padding_base * 1;
        margin-bottom: $padding_base * 1;        
    }
}
.c-infoblock__date {
    @include span(6);
    color: $color_white;
    padding: 0;
    @media screen and (max-width: $screen_sm) {
        @include span(12);
        margin-bottom: $padding_base/2;    
        padding: 0px;
    }
    @media screen and (max-width: 350px) {
        font-size: $font_size_base - 2;
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md) {
        .c-infoblock__date--text {
            font-size: $font_size_base - 2;
        }        
    }    
}
.c-infoblock__date--text {
    float: left;
    display: block;
}
.c-infoblock__map {
    @include span(6);
    color: $color_white;
    text-decoration: none;
    padding: 0;
    border-bottom: none;
    .c-infoblock__date--text {
        line-height: 36px;
    }
    @media screen and (max-width: $screen_sm) {
        @include span(12);
        padding: 0px;
    }
    @media screen and (max-width: 350px) {
        font-size: $font_size_base - 2;
    }    
    @media (min-width: $screen_sm) and (max-width: $screen_md) {
        .c-infoblock__date--text {
            font-size: $font_size_base - 2;
        }
    }  
    @media (min-width: $screen_xs) and (max-width: $screen_sm) {
        .c-icon__mapmaker {
            margin-right: $padding_base - 2;
        }        
    }
}

.c-slider-nav {
    display: inline-block;
    width: 100%;
    margin-top: $padding_base * 1.5;
    @media screen and (max-width: $screen_md) {
        display: none;
    }       
}
.c-slider-nav__item {    
    @include span(2);  
    &:first-child {
        @include push(3);
    }
    @media (min-width: $screen_md) and (max-width: $screen_lg) {
        @include span(2.6); 
        &:first-child {
            @include push(2.1);
        }        
    }
}
.c-slider-nav__background {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 96px; 
    &:hover, &.is-selected {
        cursor: pointer;    
        .c-slider-nav__title  {
            position: static;
        }
    }    
}
.c-slider-nav__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.c-slider-nav__content {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;   
    left: 0;
    right: 0;
}
.c-slider-nav__title {
    width: 100%;
    display: inline-block;
    position: relative;
    color: $color_white;
    font-size: $font_size_base - 2;  
    line-height: $line_height_base - 6;
    z-index: 2;
    margin-top: $padding_base/2;
    margin-bottom: $padding_base/2;
    padding: 4px 8px;
    &:before {
        content: '';
        opacity: 0.6;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0px;
        left: 0px;
    }
    &.bg-transparent--green {
        &:before {
          background-color: $color_green;  
        }        
    }
    &.bg-transparent--blue {
        &:before {
          background-color: $color_blue;
        }
        
    }   
    &.bg-transparent--orange {
        &:before {
          background-color: $color_orange;  
        }        
    }      
}
.c-slider-nav__date {
    padding-left: 10px;
    padding-right: 10px;    
    color: $color_white;
    font-size: $font_size_base - 2;    
    line-height: $font_size_base - 2;
    margin-bottom: $padding_base;
    z-index: 2;
}