// ----------------------- //
// Test ------------------ //
// ----------------------- //

.c-test {
    @extend .container;
    padding-top: $padding_base * 4.5;
    //padding-bottom: $padding_base * 4.5;
    padding-right: 15px;
    padding-left: 15px;
    .c-list-share {
        margin-top: $padding_base * 6.5;
        margin-bottom: $padding_base * 2.5;
        display: inline-block;
        .c-list-share__item {
            display: inline-block;
        }
    }
}
.c-test__block {
    @include span(8);
    padding: 0px;
}
.c-test__title.c-content__title.bg--green {
    line-height: 40px;
    padding: 0.1rem 0.8rem;
    
}  
.c-test__info {
    color: $color_gray_dark;
    margin-bottom: $padding_base;
    display: inline-block;
    .c-test__type, .c-test__name, .c-test__number, .c-test__question {
        display: inline-block;
        color: $color_gray_dark;
    }
    .c-test__numbers {
        display: block;
    }
}
