// ----------------------- //
// Footer style ---------- //
// ----------------------- //

#footer {
    background-color: $color_black_light;
    padding-top: $padding_base * 1.5;
    padding-bottom: $padding_base * 2;
    .c-content__title {
        color: $color_white;
        font-weight: bold;
    }
    .c-content__text {
        color: $color_white;
        a {
           color: $color_white; 
           border-bottom-color: rgba($color_white,1); 
        }
    }   
    .c-form__input {
        border-bottom: 1px solid $color_gray_light;
    }
}
.l-content__col.l-contact__register {
    @include span(3);
    @media screen and (max-width: $screen_md) {
        @include span(12);
        margin-bottom: $padding_base;
    }
}
.l-content__col.l-contact__follow {
    @include span(3);
    @media screen and (max-width: $screen_md) {
        @include span(12);
        margin-bottom: $padding_base;
    }    
}
.l-content__col.l-contact__sign {
    @include span(6);
    @media screen and (max-width: $screen_md) {
        @include span(12);
        margin-bottom: $padding_base;
    }    
}
.l-content__col.l-contact__address {
    @include span(6);
    .l-contact__logo {
        @include span(7);
        padding: 0px;
    }
    .c-list-contact {
        @include span(5);
    }
    .c-content__text {
        @include span(12);
        margin-top: $padding_base * 1.5; 
        padding: 0px;
        span, div {
            display: inline-block;
        }
    }
    @media screen and (max-width: $screen_md) {
        @include span(12);
        margin-bottom: $padding_base;
    }    
}
.l-content__col.l-contact__phone {
    @include span(4);
    margin-top: $padding_base * 2;  
    .c-list-contact {
        float: left;
    }
    .c-content__text {
        float: left;
        a {
            margin-top: $padding_base / 1.5; 
            text-decoration: none;
            display: inline-block;
            //margin-left: $padding_base; 
            border-bottom: none;
        }
        @media screen and (max-width: $screen_md) {
            width: 100%;
        }
    }
    @media screen and (max-width: $screen_md) {
        @include span(12);
        margin-bottom: $padding_base;
    }    
}
.l-content__col.l-contact__dev {
    @include span(2);
    margin-top: $padding_base * 2; 
    .c-content__text {
        a {
            text-decoration: none;
            border-bottom: none;
        }        
    }
    @media screen and (max-width: $screen_md) {
        @include span(12);
        margin-bottom: $padding_base;    
    }    
}  