// ----------------------- //
// Pages style ----------- //
// ----------------------- //

.l-content__text {  
    display: inline-block;
    &.is-container {
       @extend .container; 
        display: block;
    }
    &.is-padding {
        padding: 0 15px;
        .c-content__title--block {
            padding-left: 0px;
            padding-right: 0px;                 
        }        
    }
    &.is-no-padding {
        .c-content__title--block {
            padding-left: 0px;
            padding-right: 0px;                 
        }
        .l-content__grid--three {
            .l-content__col {
                &:first-child {
                    padding-left: 0px;
                }
                &:last-child {
                    padding-right: 0px;   
                }
                @media (min-width: $screen_xs) and (max-width: $screen_md) {
                    padding: 0px;                     
                }               
            }
        }
        &.is-padding-mobile {
            @media (max-width: $screen_lg) {
                padding: 0 15px;
            }            
        }
    }
}


.l-content__text {
    .l-content__col {
        .c-content__text {
            margin-top: 15px;
            color: $color_gray;
        }
        margin-bottom: $padding_base;
        @media (min-width: $screen_xs) and (max-width: $screen_sm) {
            margin-bottom: $padding_base;
        }
    } 
    &.is-contact {
        @include span(8);
        .c-content__title--block {
            padding-left: 0px;
            padding-right: 0px;
        }
        @media (min-width: $screen_xs) and (max-width: $screen_sm) {
           @include span(12);
        }        
    }
}

.c-content__title {
    &.bg--green {  
        padding: 0.19rem 1rem;
        color: $color_white;
        background: $color_green;
        display: inline;
        line-height: 32px;
    }
}
.is-decoration-break {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;            
}
@supports (-ms-ime-align:auto) {
    .c-content__title.bg--green {
        background-color: $color_green;
        display: inline-block;
    }
}

// only PC method with span
//bg--green
//font-weight: bold;
//background-color: transparent;
//padding: 0px;
//span {
//    padding: 0px 13px;
//    background-color: $color_green;
//    padding-bottom: 4px;
//    &:first-child {
//        padding-top: 7px;
//    }
//    &:last-child {
//        padding-bottom: 8px;
//    }            
//    &.is-line {
//        padding: 8px 13px;
//    }
//}
//@media (min-width: $screen_xs) and (max-width: $screen_lg) {
//    .c-content__title {
//        margin-left: 0px;
//        &.bg--green {
//            padding: 8px 13px;  
//            background-color: $color_green;
//            span {
//                padding: 0px;
//                background: transparent;
//            }
//        }
//    }
//}