// ----------------------- //
// Sidebar style --------- //
// ----------------------- //

.l-content__col--sidebar {
    @extend .container;
    padding-left: 0px;
    margin-top: $padding_base * 3;
    //margin-bottom: $padding_base * 2;
    .is-content {
        @include span(9);
        @media (min-width: $screen_xs) and (max-width: $screen_md) {
            @include span(12);
        }
    }
    .is-sidebar {
        @include span(3);
        .l-message {
            margin-top: $padding_base * 3;
            margin-bottom: $padding_base * 2;
        }  
        @media (min-width: $screen_xs) and (max-width: $screen_md) {
            @include span(12);
            padding: 0px;
            .l-features__block, .l-message__block, .l-reviews__block-title {
                margin-left: 15px;
                margin-right: 15px;                
            }
        }
    }
}

