  <footer id="footer">
      <div class="container">
          <section class="l-content__grid--three">
              <article class="l-contact__register l-content__col">
                  <header>
                      <h4 class="c-content__title">Регистрируйтесь</h4>
                  </header>     
                  <div class="c-content__text">
                      на&nbsp;ближайшие программы:<br>
                      <ul>
                          <li><a href="#">Кафе предпринимателей</a></li>
                          <li><a href="#">Предпринимательский вызов</a></li>
                      </ul>
                      <br>
                  </div>             
              </article>
              <article class="l-contact__follow l-content__col">
                  <header>
                      <h4 class="c-content__title">Присоединяйтесь</h4>
                  </header>     
                  <p class="c-content__text">
                      к <a href="#">каналу Полигона</a> в Телеграме<br>
                      <a href="#" class="c-icon c-icon__telegram"></a>
                  </p>             
              </article>   
              <article class="l-contact__sign l-content__col c-form__block">
                  <header>
                      <h4 class="c-content__title c-form__title">Подписывайтесь</h4>
                  </header>     
                  <p class="c-content__text c-form__subtitle">на&nbsp;дайджест самых интересных программ Полигона&nbsp;ИП</p> 
                  <form action="" class="c-form c-form--horizontal is-input-no-background" accept-charset="utf-8" method="" name="form--sign" target="">
                      <div class="l-form__col">
                          <input type="text" class="c-form__item c-form__input" name="form--sign__name" placeholder="Введите свое имя" required>
                          <input type="email" class="c-form__item c-form__input" name="form--sign__mail" placeholder="Введите свой e-mail" required>
                          <div class="c-icon c-icon__check"></div>
                          <div class="c-form__label">даю согласие на&nbsp;обработку своих персональных данных</div>                        
                      </div>
                      <div class="l-form__col">
                          <button class="c-btn bg--orange c-form__item c-form__btn"><span>Подписаться</span> <div class="c-spin"><div class="c-spin__item"></div><div class="c-spin__item"></div><div class="c-spin__item"></div></div></button>
                      </div>
                  </form>
                  <div class="c-form__result">
                      <div class="c-form__message"><h4 class="c-content__title">Вы&nbsp;успешно подписались</h4></div>
                      <div class="c-form__message">на&nbsp;дайджест самых интересных программ Полигона&nbsp;ИП</div>
                      <div class="c-icon c-icon__check"></div>                          
                  </div>                                                                  
              </article> 
          </section>
          <section class="l-content__grid--three">              
              <section class="l-contact__address l-content__col">
                  <div class="l-contact__logo">
                      <a href="#" class="c-logo__link">
                          <img src="assets/img/logo-light.svg" alt="" width="360" height="90">
                      </a>
                  </div>
                  <ul class="c-list-contact">
                      <li class="c-list-contact__item">
                          <a href="#" class="c-icon c-icon__vk">                            
                            <svg version="1.1" id="c-icon__vk" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 55.9 55.9" style="enable-background:new 0 0 55.9 55.9;" xml:space="preserve">
                            <g>
                                <path class="c-icon__svg" d="M11,0h34c6,0,11,4.9,11,10.9v34c0,6-4.9,10.9-11,10.9H11c-6,0-11-4.9-11-10.9v-34C0,4.9,4.9,0,11,0L11,0z
                                     M41.5,33.8c0-2.1-0.6-3.7-1.7-4.9c-1.1-1.2-2.6-2-4.5-2.4v-0.2c1.3-0.5,2.3-1.4,3.1-2.6c0.7-1.2,1.1-2.5,1.1-3.9
                                    c0-1.3-0.3-2.4-0.8-3.4c-0.5-1-1.3-1.8-2.4-2.3c-1-0.5-2.1-0.9-3.2-1.1c-1.1-0.2-2.8-0.3-5.1-0.3H17.1v30.3h12.3
                                    c2.1,0,3.8-0.2,5.2-0.6c1.4-0.4,2.6-1,3.8-1.9c1-0.8,1.7-1.7,2.3-2.8C41.2,36.7,41.5,35.3,41.5,33.8L41.5,33.8z M31.7,21.4
                                    c0-0.5-0.1-1-0.4-1.5c-0.3-0.5-0.6-0.9-1.2-1.1c-0.5-0.2-1.1-0.3-1.8-0.4c-0.7,0-1.7,0-3.1,0h-0.5v6.4h1c1.3,0,2.2,0,2.7,0
                                    c0.5,0,1.1-0.2,1.6-0.4c0.6-0.3,1-0.7,1.2-1.2C31.6,22.6,31.7,22,31.7,21.4L31.7,21.4z M33.6,33.7c0-0.9-0.2-1.7-0.6-2.2
                                    c-0.4-0.5-0.9-0.9-1.7-1.2c-0.5-0.2-1.1-0.3-1.9-0.3c-0.8,0-1.9,0-3.2,0h-1.4v7.6h0.4c2,0,3.4,0,4.1,0c0.8,0,1.5-0.2,2.3-0.5
                                    c0.7-0.3,1.2-0.7,1.5-1.3C33.5,35.1,33.6,34.4,33.6,33.7L33.6,33.7z M33.6,33.7"/>
                            </g>
                            </svg>  
                          </a>
                      </li>
                      <li class="c-list-contact__item">
                          <a href="#" class="c-icon c-icon__instagram">
                            <svg version="1.1" id="c-icon__instagram" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 56.6 56.6" style="enable-background:new 0 0 56.6 56.6;" xml:space="preserve">
                            <g>
                                <path class="c-icon__svg" d="M39.8,0H16.9C7.6,0,0,7.6,0,16.9v22.9c0,9.3,7.6,16.9,16.9,16.9h22.9c9.3,0,16.9-7.6,16.9-16.9V16.9
                                    C56.6,7.6,49.1,0,39.8,0L39.8,0z M50.9,39.8c0,6.2-5,11.2-11.2,11.2H16.9c-6.2,0-11.2-5-11.2-11.2V16.9c0-6.2,5-11.2,11.2-11.2
                                    h22.9c6.2,0,11.2,5,11.2,11.2V39.8z M50.9,39.8"/>
                                <path class="c-icon__svg" d="M28.3,13.7c-8.1,0-14.6,6.6-14.6,14.6c0,8.1,6.6,14.6,14.6,14.6S43,36.4,43,28.3S36.4,13.7,28.3,13.7
                                    L28.3,13.7z M28.3,37.3c-4.9,0-9-4-9-9c0-4.9,4-9,9-9c4.9,0,9,4,9,9C37.3,33.3,33.3,37.3,28.3,37.3L28.3,37.3z M28.3,37.3"/>
                                <path class="c-icon__svg" d="M46.5,13.8c0,1.9-1.6,3.5-3.5,3.5c-1.9,0-3.5-1.6-3.5-3.5c0-1.9,1.6-3.5,3.5-3.5
                                    C44.9,10.3,46.5,11.8,46.5,13.8L46.5,13.8z M46.5,13.8"/>
                            </g>
                            </svg>                              
                          </a>
                      </li>                      
                  </ul>
                  <div class="c-content__text color--gray__light">
                        <div itemscope itemtype="http://schema.org/Organization">
                          <span itemprop="name" class="is--hidden">Полигон инженерного предпринимательства (Томский политехнический университет)</span>
                          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="postalCode" class="is--hidden">634034</span>
                            <span itemprop="addressLocality" class="is--hidden">Томск</span>
                            <span itemprop="streetAddress">Усова 9/4, 201 (7 корпус ТПУ)</span>
                          </div>
                          Тел.:&nbsp;<span itemprop="telephone">701-777, внутренний:&nbsp;1808</span> <span itemprop="telephone" class="is--hidden">+7 923 422-39-22</span>
                        </div>
                  </div>                  
              </section>   
              <section class="l-contact__phone l-content__col">
                  <p class="c-content__text color--gray__light">Полигон на&nbsp;связи в&nbsp;мессендежарх:</p>
                  <p class="c-content__text l-content__phone color--gray__light"><a href="tel:79234223922">+7 923 422-39-22</a></p>  
                  <ul class="c-list-contact">
                      <li class="c-list-contact__item">
                          <div class="c-icon c-icon__phone"></div>
                      </li>
                      <li class="c-list-contact__item">
                          <div class="c-icon c-icon__viber"></div>
                      </li>  
                      <li class="c-list-contact__item">
                          <div class="c-icon c-icon__telegram"></div>
                      </li>                                           
                  </ul>                             
              </section>  
              <section class="l-contact__dev l-content__col">
                  <p class="c-content__text color--gray__light"><a href="#">Разработано в&nbsp;Провокации</a></p> 
              </section>                        
          </section>
      </div>
  </footer>
