  <header id="header">
     <div class="container">
          <section class="l-header l-header__nav-button">
              <div class="c-nav-button">
                  <span class="c-nav-button__item"></span>
                  <span class="c-nav-button__item"></span>
                  <span class="c-nav-button__item"></span>
              </div>
          </section>
          <section class="l-header l-header__logo">
              <a href="#" class="c-logo__link">
                  <img src="assets/img/logo-dark.svg" alt="" width="360" height="90">
              </a>
          </section>
          <section class="l-header l-header__logo--small">
              <a href="#" title="Томский политехнический университет"></a>
          </section>          
          <section class="l-header l-header__banner">
              <div class="c-banner">
                  <p class="c-banner__text">Развиваем сообщество молодых предпринимателей: проводим образовательные программы и&nbsp;встречи с&nbsp;представителями бизнеса</p>
                  <div class="c-banner__btn">
                      <a href="#" class="c-btn c-btn--small bg--orange">Подобрать программу</a>
                  </div>
              </div>
          </section>
          <nav class="l-header l-header__nav is-responsive">
              <ul class="c-nav">
                  <li class="c-nav__item"><a href="#" class="c-nav__link">Главная</a></li>
                  <li class="c-nav__item is-dropdown">
                      <a href="#" class="c-nav__link">Программы</a><span class="c-icon c-icon__arrow"></span>
                      <div class="c-nav__dropdown">
                          <div class="container">
                              <div class="l-content__grid--four">
                                  <div class="l-content__col">
                                      <article class="c-program__item">
                                          <p class="c-program__info">
                                              <span class="color--red">12&nbsp;января</span>, один вечер
                                          </p>                       
                                          <header>                       
                                              <h4 class="c-program__title"><a href="#">Кафе предпринимательства</a></h4>
                                          </header>
                                          <p class="c-program__description">Для знакомств, вдохновения и&nbsp;лайфхаков от&nbsp;спикера&nbsp;&mdash; действующего предпринимателя</p>
                                      </article>                              
                                      <article class="c-program__item">
                                          <p class="c-program__info">
                                              <span class="color--red">12-13 января</span>, двухдневная программа
                                          </p>                      
                                          <header>                        
                                              <h4 class="c-program__title"><a href="#">Предпринимательский вызов</a></h4>
                                          </header>
                                          <p class="c-program__description">Для тестирования своей бизнес-идеи на&nbsp;реализуемость; усиление и&nbsp;генерация новых идей</p>
                                      </article>  
                                  </div>                                  
                                  <div class="l-content__col">                                    
                                      <article class="c-program__item">
                                          <p class="c-program__info">Двухдневная программа</p>   
                                          <header>                                                
                                              <h4 class="c-program__title"><a href="#">В&nbsp;шаге от&nbsp;бизнеса</a></h4>
                                          </header>
                                          <p class="c-program__description">Для вывода проекта на&nbsp;первые продажи</p>
                                      </article> 
                                      <article class="c-program__item is-notactive">
                                          <p class="c-program__info">Двухдневная программа</p> 
                                          <header>                                                  
                                              <h4 class="c-program__title"><a href="#">Школа продвижения бизнеса</a></h4>
                                          </header>
                                          <p class="c-program__description">Для создания стратегии продвижения в&nbsp;интернете</p>
                                      </article>   

                                      <article class="c-program__item is-notactive">
                                          <p class="c-program__info">Двухдневная программа</p>      
                                          <header>                                             
                                              <h4 class="c-program__title"><a href="#">Школа управления бизнесом</a></h4>
                                          </header>
                                          <p class="c-program__description">Для управления всем бизнесом как проектом</p>
                                      </article>   
                                  </div>   
                                  <div class="l-content__col">
                                      <article class="c-program__item is-notactive">                     
                                           <p class="c-program__info">Персональные косультации в&nbsp;удобное время</p>                    
                                          <header>
                                              <h4 class="c-program__title"><a href="#">Лаборатория роста</a></h4>
                                          </header>
                                          <p class="c-program__description">Для работы над своим проектом вместе с&nbsp;экспертом из&nbsp;бизнеса</p>
                                      </article>     
                                      <article class="c-program__item is-notactive">                      
                                          <p class="c-program__info">Двухдневная программа</p>    
                                          <header>                     
                                              <h4 class="c-program__title"><a href="#">Старт-ап школа по&nbsp;IT</a></h4>
                                          </header>
                                          <p class="c-program__description">Для развития проектов в&nbsp;области&nbsp;IT</p>
                                      </article>  
                                      <article class="c-program__item is-notactive">
                                          <p class="c-program__info">Двухдневная программа</p>    
                                          <header>                                               
                                              <h4 class="c-program__title"><a href="#">Старт-ап школа по&nbsp;промышленным технологиям</a></h4>
                                          </header>
                                          <p class="c-program__description">Для развития технологий ТПУ в&nbsp;области промышленного применения</p>
                                      </article> 
                                  </div>   
                                  <div class="l-content__col">                                  
                                      <article class="c-program__item is-notactive">
                                          <p class="c-program__info">Двухдневная программа</p>    
                                          <header>                                               
                                              <h4 class="c-program__title"><a href="#">Конкурс 10К</a></h4>
                                          </header>
                                          <p class="c-program__description">Завершающий конкурс, проводится раз в&nbsp;год в&nbsp;декабре. Для получения финансирования на&nbsp;свой проект</p>
                                      </article>                                                                                    
                                  </div>                                                                 
                              </div>   
                          </div>                       
                      </div>
                  </li>       
                  <li class="c-nav__item"><a href="#" class="c-nav__link">Контакты</a></li>                                
              </ul>
          </nav>
      </div>   
  </header>