  <header id="header">
     <div class="container">
          <section class="l-header l-header__nav-button">
              <div class="c-nav-button">
                  <span class="c-nav-button__item"></span>
                  <span class="c-nav-button__item"></span>
                  <span class="c-nav-button__item"></span>
              </div>
          </section>
          <section class="l-header l-header__logo">
              <a href="#" class="c-logo__link">
                  <img src="assets/img/logo-dark.svg" alt="" width="360" height="90">
              </a>
          </section>         
      </div>   
  </header>