<aside id="sidebar">
      <section class="c-feature is-vertical">
          <div class="container">
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>2</span></h2>
                      </header>
                      <p class="c-feature__text">дня</p>
                  </div>
              </article>
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>7</span></h2>
                      </header>
                      <p class="c-feature__text">мастер-классов</p>
                  </div>
              </article>
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>5</span></h2>
                      </header>
                      <p class="c-feature__text">часов работы над своим проектом</p>
                  </div>
              </article>
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>7</span></h2>
                      </header>
                      <p class="c-feature__text">риглашенных экспертов</p>
                  </div>
              </article>                
          </div>                                   
      </section>
</aside>