<aside id="sidebar">
      <div class="l-features">
          <section class="c-feature is-vertical">
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>2</span></h2>
                      </header>
                      <p class="c-feature__text">дня</p>
                  </div>
              </article>
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>7</span></h2>
                      </header>
                      <p class="c-feature__text">мастер-классов</p>
                  </div>
              </article>
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>5</span></h2>
                      </header>
                      <p class="c-feature__text">часов работы над своим проектом</p>
                  </div>
              </article>
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>7</span></h2>
                      </header>
                      <p class="c-feature__text">приглашенных экспертов</p>
                  </div>
              </article>                                                  
          </section>
          <section class="c-feature is-vertical is-three">
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>4</span></h2>
                      </header>
                      <p class="c-feature__text">встречи в&nbsp;семестр по&nbsp;будним вечерам</p>
                  </div>
              </article>
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>2</span></h2>
                      </header>
                      <p class="c-feature__text">часа общения с&nbsp;предпринимателем за&nbsp;чашкой кофе с&nbsp;печеньем</p>
                  </div>
              </article>
              <article class="c-feature__item">
                  <div class="c-feature__content">
                      <header>
                          <h2 class="c-feature__title"><span>10</span></h2>
                      </header>
                      <p class="c-feature__text">вопросов можно успеть задать спикеру</p>
                  </div>
              </article>                                               
          </section> 
      </div>     
      <section class="l-message">
          <article class="c-message c-message__laptop bg--blue">
              <div class="c-icon c-icon__laptop"></div>
              <p class="c-message__text">Если вы&nbsp;работаете по&nbsp;проектам на&nbsp;ноутбуке, берите его с&nbsp;собой</p>
          </article>
      </section>
      <section class="l-reviews">
          <header>
              <h2 class="c-content__title c-content__title--block">Отзывы:</h2>
          </header>           
          <article class="c-reviews__item">
              <div class="c-human__thumbnail">
                  <figure>
                      <img src="assets/content/img/pv_feedback_belyakova.jpg" alt="" width="300" height="450">
                  </figure>  
              </div>
              <div class="c-human__thumbnail-caption">
                  <hgroup>
                      <h4 class="c-human__title">Татьяна Белякова, </h4>
                      <div class="c-human__description">&laquo;Beta Creative Studio&raquo;</div>
                  </hgroup>                      
              </div> 
              <p class="c-reviews__text">
                  &laquo;На&nbsp;программу я&nbsp;пришла уже с&nbsp;готовым проектом&nbsp;&mdash; студией подарков, который надо было из&nbsp;самозанятости превратить в&nbsp;бизнес. Я&nbsp;структурировала важные моменты и&nbsp;поняла, как должнен работать бизнес и&nbsp;как ееего развивать. Программа дала не&nbsp;просто новые знакомства, а&nbsp;знакомства с&nbsp;теми, кто также болеет своим делом, ведет активный образ жизни и&nbsp;развивается.&raquo;
              </p>                                    
          </article>
          <article class="c-reviews__item">
              <div class="c-human__thumbnail">
                  <figure>
                      <img src="assets/content/img/pv_feedback_senchenko.jpg" alt="" width="300" height="450">
                  </figure>  
              </div>
              <div class="c-human__thumbnail-caption">
                  <hgroup>
                      <h4 class="c-human__title">Михаил Сенченко, </h4>
                      <div class="c-human__description">&laquo;Таежные сладости&raquo;</div>
                  </hgroup>                      
              </div> 
              <p class="c-reviews__text">
                  &laquo;Я&nbsp;пришел в&nbsp;Полигон с&nbsp;идеей вендингового аппарата, а&nbsp;ушел с&nbsp;проектом #ГражданствоПросто. Оказалось, что первая идея не&nbsp;так прибыльна и&nbsp;инетересна, как я&nbsp;думал. А&nbsp;со&nbsp;второй мы&nbsp;запустились уже через пару недель&nbsp;&mdash; поставили точку на&nbsp;УФМС и&nbsp;начали работать. <br><br>
                  С&nbsp;моего участия прошел в&nbsp;год, теперь я&nbsp;выступаю в&nbsp;Полигоне как эксперт. Со&nbsp;стороны иногда вижу, как стартаперы сами ставят себе рамки или говорят &bdquo;я&nbsp;все знаю, что мне делать-то?&ldquo;. Это нормально, я&nbsp;сам таким был. Главное&nbsp;&mdash; двигаться, общаться, узнавать новое! Программы Полигона как раз заточены на&nbsp;это.&raquo;
              </p>                                    
          </article>  
          <article class="c-reviews__item">
              <div class="c-human__thumbnail">
                  <figure>
                      <img src="assets/content/img/pv_feedback_victor.jpg" alt="" width="300" height="450">
                  </figure>  
              </div>
              <div class="c-human__thumbnail-caption">
                  <hgroup>
                      <h4 class="c-human__title">Виктор Череднеченко, </h4>
                      <div class="c-human__description">&laquo;Школа пилотирования квадрокоптеров&raquo;</div>
                  </hgroup>                      
              </div> 
              <p class="c-reviews__text">
                  Продажи&nbsp;&mdash; вот где всплывают недочеты и&nbsp;оплошности. Мы&nbsp;пробовали продавать свои продукты другу в&nbsp;командах, эксперты давали обратную связь. Мне это помогло избежать серьезных ошибок при запуске &laquo;GeekON&raquo;. <br><br>
                  Полигон дал связи, благодаря которым я&nbsp;запустил уже три проекта в&nbsp;той сфере, которую люблю.
              </p>                                    
          </article>                    
      </section>
</aside>