// ----------------------- //
// Grids style ----------- //
// ----------------------- //

/* Base -----------*/
$images: "../img";
/* Colors ---------*/
$color_theme: #000000;
$color_theme_white: #ffffff;
/* Fonts ----------*/
/* Typography -----*/
/* Buttons --------*/
/* Forms ----------*/
/* Breadcrumbs ----*/
/* Modals ---------*/
/* Colors ---------*/
