// ----------------------- //
// Buttons style --------- //
// ----------------------- //

.c-btn {
    @include border-radius($btn_border_radius, $btn_border_radius);
    padding: ((($btn_height - $btn_font_size) / 2) - 4) $btn_padding;
    font-size: $btn_font_size;
    display: inline-block;
    text-decoration: none;
    border-bottom: none;
    cursor: pointer;
    &.bg--orange {
        color: $color_white;
        background-color: $color_orange;
        &:hover {
            text-decoration: none;
            background-color: $color_orange_accent;
        }
    }
    &.bg--blue {
        color: $color_white;
        background-color: $color_blue;
        &:hover {
            text-decoration: none;
            background-color: $color_blue_accent;
        }        
    }
    &.is-padding-big {
        padding-left: $btn_padding * 1.5;
        padding-right: $btn_padding * 1.5;
    }
    &.is-notactive {
        background-color: $color_gray;
        color: $color_gray_light;
        pointer-events: none;
        cursor: default;        
    }
}
.c-btn--small {
    height: $btn_height_small;
    line-height: $btn_height_small;
    @include border-radius($btn_border_radius_small, $btn_border_radius_small);
    padding: 0 $btn_padding_small;
    font-size: $btn_font_size_small;    
}