// ----------------------- //
// Forms style ----------- //
// ----------------------- //

.c-form__block {
    &.is-sent-ok {
        .c-form__title, .c-form__subtitle {
            display: none;
        }
        .c-form {
            display: none;
        }
        .c-form__result {
            display: block;
        }
        &.is-contact {
            .c-form__result {
                margin-bottom: $padding_base * 3;
            }
        }
    }
    &.is-load {
        .c-spin {
            display: inline-block;
        }
        .c-btn {
            span {
                display: none;
            }
        }
    }
}
.c-form--horizontal {
    @include span(10);
    padding: 0px;
    .l-form__col:first-child {
       @include span(7);   
        padding-left: 0px;
    }
    .l-form__col:last-child {
        @include span(5);      
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md) {
        @include span(12);
        .l-form__col:first-child {
           @include span(8);   
            padding-left: 0px;
        }
        .l-form__col:last-child {
            @include span(4);      
        }        
    }
    @media (min-width: $screen_xs) and (max-width: $screen_sm) {
        @include span(12);
        .l-form__col:first-child {
           @include span(12);   
            padding-left: 0px;
        }
        .l-form__col:last-child {
            @include span(12);    
            padding-left: 0px;
        }         
    }
}

.c-form {
    padding: 0px;
    .c-icon {
        display: block;
        margin-right: 5px;
        float: left;
        margin-top: 20px;        
    }
    &.c-form--test {        
        .c-form__item-block {
            margin-bottom: $padding_base / 4; 
            &.is-title {
                margin-bottom: $padding_base; 
            }
        }        
    }
    &.is-input-no-background {
        .c-form__item {
            margin-top: $padding_base;
        }
        .c-form__input {
            @include border-radius(0px, 0px); 
            height: auto;
            border: none;
            background: transparent;
            padding: 0px;
            padding-bottom: 5px;
            padding-top: 0px;
            border-bottom: 1px solid $color_green_light2;
            color: $color_white;
            font-size: $font_size_base;  
            margin-bottom: 0px;
            @include input-placeholder {
               color: $color_white_dark2;
               font-size: $font_size_base;
            } 
            &:focus {
               border: none;
               outline: none;
               border-bottom: 1px solid $color_green_light3;
               @include box-shadow(none);
            }  
            &:first-child {
                margin-top: 0px;
            }   
            &.is-error {
                border: none;
                border-bottom: 1px solid $color_red;
            }   
            &.is-no-error {
               border: none;
               outline: none;
               border-bottom: 1px solid $color_green_light3;
               @include box-shadow(none);     
            }          
        } 
        .c-form__icon {
           display: none;                    
        }      
        .c-form__error-message {
            display: none;
        }
        .c-form__label {
            color: $color_white;
            font-size: $font_size_base - 2;
            display: inline-block;
            line-height: $line_height_base / 1.2;     
            margin-top: $padding_base / 2;
            float: left;
            @media (min-width: $screen_xs)  {
                width: 90%;
            }            
        }
    }
    &.is-background {
        display: inline-block;
        width: 100%;
        background-color: $color_white_dark;
        padding: $padding_base 0px;
        @include border-radius(3px, 3px); 
    }
    &.is-contact {
        margin-bottom: $padding_base * 3;
    }
}

.l-content__col.l-form--no-padding {
    //padding: 0px;
    .c-form.is-background {
        padding: $padding_base / 1.2 15px $padding_base 15px;
    }
    .c-content__title--block {
        padding-left: 0px;
        padding-right: 0px;
    }
}
.c-form__item-block {
    display: inline-block;
    position: relative;
    width: 100%;
}
.c-form__item {
    display: block;
    width: 100%;
    font-size: $font_size_base;
}
.c-form__element-style {
    @include border-radius(4px, 4px); 
    border-width: 1px;
    border-style: solid;
    border-color: rgba($color_gray_light2, 0.5);
    padding: $padding_base / 2  $padding_base / 1.2;
    margin-bottom: $padding_base / 1.5;
    @include input-placeholder {
       color: $color_gray_light;
       font-size: $font_size_base;
    } 
    &:focus {
        outline: none;
        @include box-shadow(rgba($color_green_light, 0.15) 0px 0px 7px);
        border-color: $color_green_light3;
        border-width: rgba($color_green_light, 1);
    }
    &.is-error {
        @include input-placeholder {
           color: $color_red_light;
        }  
        border: 1px solid $color_red_light;
    }  
    &.is-no-error {
        @include input-placeholder {
           color: $color_green;
        }  
        border: 1px solid $color_green;        
    }    
}
.c-form__input {
    @extend .c-form__element-style;
}  
.c-form__textarea {
    @extend .c-form__element-style;
}
.c-form__icon {
    position: absolute;
    right: 12px;
    bottom: 30px;
    width: 18px;
    height: 18px;    
    &.is-error{
        &:before, &:after {
            position: absolute;
            content: ' ';
            height: 19px;
            width: 2px;
            background-color: $color_red_light;
            left: 8px;        
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }  
    }  
    &.is-no-error{
        bottom: 36px;
        content: '';
        height: 10px;
        border: 3px solid $color_green;
        border-top: none;
        border-right: none;
        background: 0 0;
        opacity: 1;
        transform: rotate(-45deg);        
    }
}
.c-form__error-message {
    position: absolute;
    bottom: 66px;
    right: 2px;
    color: $color_gray_light;
    font-size: 14px;    
}
.c-form__btn {
    border: none;
    width: auto;
    line-height: $line_height_base;    
    @media screen and (min-width: $screen_sm) {
        margin-top: 30px;
    }
}
.c-form__checkbox {
    //margin-top: $padding_base / 2; 
    width: 20px;
    position: relative;
    float: left;
    margin-right: $padding_base / 2;
    input[type='checkbox'] {
        visibility: hidden;
        &:checked + label {
            width: 20px;
            height: 20px;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            background: $color_green;
            border-radius: 2px;
            border: 1px solid $color_green;
            &:after {
                content: '';
                width: 12px;
                height: 7px;
                position: absolute;
                top: 4px;
                left: 3px;
                border: 3px solid $color_white;
                border-top: none;
                border-right: none;
                background: transparent;
                opacity: 1;
                transform: rotate(-45deg);
            }            
        }
    }
    label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: $color_white;
    border-radius: 2px;
    border: 1px solid $color_gray_light2;    
        &:after {
            opacity: 0;
        }
        &:hover {
             border: 2px solid $color_green;
            &:after {
                opacity: 0;
            }
        }
    }
}

.c-form__label {
    float: left;
    width: 90%;
    &.is-checkbox {
       margin-bottom: $padding_base / 2; 
    }    
}


.c-form__item-block {
    &.is-agreement {        
        .c-form__item {
            margin-bottom: 0px;
        }
        .c-icon__check {
            margin-top: $padding_base / 2;
            border-color: $color_gray;
            margin-left: 4px;
        }
        .c-form__label {
            &.is-agreement {
                font-size: $font_size_base - 2;
                line-height: $line_height_base / 1.2;  
                margin-bottom: $padding_base / 1.5; 
                margin-top: $padding_base / 4;
            }              
        }
        .c-form__error-message {
            bottom: 54px;
        }
        .c-form__icon {
            &.is-error {
                bottom: 16px;
            }
            &.is-no-error {
                bottom: 22px;
            }
        }
    }
}

.c-form__item-block:last-child {
    .c-form__label {
        margin-bottom: 0px;
    }
}

.c-form__radio {
    vertical-align: top;
    width: 13px;
    height: 13px;
    margin: 0 0px 0 0;
}
.c-form__radio + label {
    cursor: pointer;
    &:hover {
        &:before {
           border-color: $color_green; 
        }
    }
}
.c-form__radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.c-form__radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 24px;
}
.c-form__radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid $color_gray;
    border-radius: 50%;
    background: $color_white;
}
.c-form__radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 8px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: $color_green;
    opacity: 0;
}

.c-form__radio:checked + label:after {
    opacity: 1;
}
.c-form__radio:checked + label:before {
    border-color: $color_green;
}
.c-form__radio:focus + label:before {
    border-collapse: $color_green;
}

.c-form__result {
    margin-top: $padding_base * 5.25;
    display: none;
    .c-form__message {
        color: $color_gray_dark;
        font-weight: normal;
        font-size: $font_size_base;
        line-height: $line_height_base;
    }
    .c-icon {
        width: 70px;
        height: 40px;
        border-width: 10px;
        border-color: $color_green_dark2;
        margin-top: 4px;
        margin-left: 4px;
        margin-bottom: 14px;
    }
}
.c-spin {
    text-align: center;
    display: none;
    padding: 0 24px;
    .c-spin__item {
        width: 6px;
        height: 6px;
        margin: 0 2px;
        background-color: $color_white;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;       
        -webkit-animation: spiner-bouncedelay 0.7s infinite ease-in-out both;
        animation: spiner-bouncedelay 0.7s infinite ease-in-out both;   
        &:nth-child(1) {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }
        &:nth-child(2) {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }        
    }
}
@-webkit-keyframes spiner-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0); 
    }
    40% { 
        -webkit-transform: scale(1.0); 
    }
}
@keyframes spiner-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 
    40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}



.c-form__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.c-form__file  + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.c-form__file + label {
//    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    //padding: 0.625rem 1.25rem;
    padding: 0px;
    /* 10px 20px */    
    color: #d3394c;
    border: none;
    background: none;
    width: 100%;    
    
}


.c-form__file + label span,
.c-form__file + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.c-form__file + label span {
    width: 50%;
    min-height: 45px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    @extend .c-form__input;
    background-color: $color_white;
    color: $color_gray_light;
    font-size: $font_size_base;  
    font-weight: normal;
    margin-bottom: 0px;
}

.c-form__file + label strong {
    height: 100%;
    color: $color_white;
    background-color: $color_green;
    display: inline-block;
    @include border-radius(24px); 
    font-weight: normal;
    font-size: 16px;      
}

@media screen and (max-width: 50em) {
	.c-form__file + label strong {
		display: block;
	}
}
.c-form__description {
    color: $color_gray_light;
    a {
        color: $color_blue_accent;
        border-bottom-color: $color_blue_accent;
    }
}