// ----------------------- //
// Lists style ----------- //
// ----------------------- //

.c-list-contact {
    list-style: none;
}
.c-list-contact__item {
    display: inline-block;
    margin-right: $padding_base / 3;
}

.c-list-share {
    list-style: none;
    display: inline-block;
}
.c-list-share__item {
    display: inline-block;
    margin-right: $padding_base / 2;
    height: 26px;
    vertical-align: middle;
    cursor: pointer;
    .c-icon {
        margin: 0px;
        &.is-text {
            width: auto;
            background-size: 23px; 
            padding-left: 32px;
            color: $color_gray_dark;
            margin: 0px;
            float: left;            
        }        
    }
}
.c-list-share__text {
    color: $color_white;
    border-bottom: none;
    line-height: 25px;
}