// ----------------------- //
// Typography style ------ //
// ----------------------- //


body {
    font-size: $font_size_base;
    line-height: $line_height_base;
    color: $color_gray;
    font-family: $font_clear_sans;  
}
input, label, select, button, textarea {
    font-family: $font_clear_sans;  
}
h1, h2, h3, h4 {
    font-family: $font_clear_sans;
    color: $color_gray_dark;
}
h1 {
    font-size: $font_size_h1;
    line-height: $line_height_h1;    
    font-weight: bold;
}
h2 {
    font-size: $font_size_h2;
    line-height: $line_height_h2;
}
h3 {
    font-size: $font_size_h3;
    line-height: $line_height_h3;
}
h4 {
    font-size: $font_size_h4;
    line-height: $line_height_h4;
}
p {
    font-family: $font_clear_sans;  
}
strong {
    font-family: $font_clear_sans;
}

a {
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba($color_gray, 0.5);  
    &:hover {
        border-bottom-color: rgba($color_gray, 0.5);  
    }
    &:active {
        border-bottom-color: rgba($color_gray, 0.5);  
    }
    &:visited {
        border-bottom-color: rgba($color_gray, 0.5);  
    }
    &:focus {
        border-bottom-color: rgba($color_gray, 0.5); 
    }    
}

.c-content__title--block {
    padding-top: $padding_base * 3;
    padding-bottom: $padding_base;   
    @include span(12);
    display: inline-block;
    @media (min-width: $screen_md) and (max-width: $screen_lg) {
        padding-top: $padding_base * 2;        
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md) {
         padding-top: $padding_base * 1.5;
        
    }
    @media (min-width: $screen_xs) and (max-width: $screen_sm) {
        padding-top: $padding_base;
        padding-bottom: $padding_base /2 ;      
    }    
}
@media (min-width: $screen_xs) and (max-width: $screen_sm) {
    h1, h2, h3, h4 {
        font-size: $font_size_h4 !important;
        font-weight: bold;
        line-height: $line_height_h4 !important;
    }  
    p {
       font-size: $font_size_base !important; 
       line-height: $line_height_base !important;
    }
}
.c-content__subtitle {
    margin-bottom: $padding_base / 1.5;
}
.c-content__text {
    color: $color_gray_dark;
    ul {
        padding-bottom: $padding_base;
    }
}
.c-content__blockquote, .c-content__text blockquote {
    background-color: $color_white_dark;
    padding: $padding_base $padding_base * 2.25 $padding_base $padding_base * 3.5;
    margin: $padding_base 0px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: $padding_base / 2;
        top: $padding_base + 4;
        width: 51px;
        height: 37px;
        background-image: url('data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOS4yLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA2My44IDQ2LjUiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDYzLjggNDYuNTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2ZpbGw6IzAwNzJCQzt9DQo8L3N0eWxlPg0KPGc+DQoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTIwLjcsNDYuNUwwLDIzLjNMMjAuNywwaDE0LjhMMTQuOCwyMy4zbDIwLjcsMjMuM0gyMC43eiBNNDkuMSw0Ni41TDI4LjMsMjMuM0w0OS4xLDBoMTQuOEw0My4xLDIzLjMNCgkJbDIwLjcsMjMuM0g0OS4xeiIvPg0KPC9nPg0KPC9zdmc+DQo=');     
        background-repeat: no-repeat;
    }
    .c-content__blockquote-footer, footer {
        font-weight: bold;
        margin-top: $padding_base;
        width: 100%;
        display: inline-block;
    }
}
.c-video {
    &.is-adaptive {
        float: none;
        clear: both;
        width: 100%;
        position: relative;
        padding-bottom: 40.10%;
        padding-top: 25px;
        height: 0;  
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;           
        }        
    }
}