// ----------------------- //
// Typography style ------ //
// ----------------------- //


body {
    font-size: $font_size_base;
    line-height: $line_height_base;
    color: $color_gray;
    font-family: $font_clear_sans;  
}
input, label, select, button, textarea {
    font-family: $font_clear_sans;  
}
h1, h2, h3, h4 {
    font-family: $font_clear_sans;
    color: $color_gray_dark;
}
h1 {
    font-size: $font_size_h1;
    line-height: $line_height_h1;    
    font-weight: bold;
}
h2 {
    font-size: $font_size_h2;
    line-height: $line_height_h2;
}
h3 {
    font-size: $font_size_h3;
    line-height: $line_height_h3;
}
h4 {
    font-size: $font_size_h4;
    line-height: $line_height_h4;
}
p {
    font-family: $font_clear_sans;  
}
strong {
    font-family: $font_clear_sans;
}
a {
    text-decoration: none;
    border-bottom: 1px solid;
    border-bottom-color: rgba($color_gray, 0.5);  
    &:hover {
        border-bottom-color: rgba($color_gray, 0.5);  
    }
    &:active {
        border-bottom-color: rgba($color_gray, 0.5);  
    }
    &:visited {
        border-bottom-color: rgba($color_gray, 0.5);  
    }
    &:focus {
        border-bottom-color: rgba($color_gray, 0.5); 
    }    
}

.c-content__title--block {
    padding-top: $padding_base * 3;
    padding-bottom: $padding_base;   
    @include span(12);
    display: inline-block;
    @media (min-width: $screen_md) and (max-width: $screen_lg) {
        padding-top: $padding_base * 2;        
    }
    @media (min-width: $screen_sm) and (max-width: $screen_md) {
         padding-top: $padding_base * 1.5;
        
    }
    @media (min-width: $screen_xs) and (max-width: $screen_sm) {
        padding-top: $padding_base;
        padding-bottom: $padding_base /2 ;      
    }    
}
@media (min-width: $screen_xs) and (max-width: $screen_sm) {
    h1, h2, h3, h4 {
        font-size: $font_size_h4 !important;
        font-weight: bold;
        line-height: $line_height_h4 !important;
    }  
    p {
       font-size: $font_size_base !important; 
       line-height: $line_height_base !important;
    }
}

.c-content__text {
    color: $color_gray_dark;
    ul {
        padding-bottom: $padding_base;
    }
}
.c-content__blockquote, .c-content__text blockquote {
    background-color: $color_white_dark;
    padding: $padding_base $padding_base * 2.25 $padding_base $padding_base * 3.5;
    margin: $padding_base 0px;
}