html, body, div, span, applet, object, iframe,
h1,
.c-infoblock__title,
.c-feature__title, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************
 Utilites styles
****************************/
/* Variables ***************/
/* Base -----------*/
/* Colors ---------*/
.bg--green {
  background-color: #80bf44;
  color: #ffffff;
}

.color--red {
  color: #f04e23;
}

.color--gray__light {
  color: #9c9c9c !important;
}
.color--gray__light a {
  color: #9c9c9c !important;
}

/* Fonts ----------*/
@font-face {
  font-family: 'ClearSans';
  src: url("../fonts/ClearSansBold/ClearSansBold.eot");
  src: url("../fonts/ClearSansBold/ClearSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansBold/ClearSansBold.woff2") format("woff2"), url("../fonts/ClearSansBold/ClearSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ClearSans';
  src: url("../fonts/ClearSansRegular/ClearSansRegular.eot");
  src: url("../fonts/ClearSansRegular/ClearSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ClearSansRegular/ClearSansRegular.woff2") format("woff2"), url("../fonts/ClearSansRegular/ClearSansRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Indents --------*/
/* Typography -----*/
/* Buttons --------*/
/* Forms ----------*/
/* Breadcrumbs ----*/
/* Modals ---------*/
/****************************
 Layout styles
****************************/
/* Grids *******************/
/* Susy Grids -----*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container, .l-content__slider, .c-program, .l-content__text {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjNiM2ZmIiBzdG9wLW9wYWNpdHk9IjAuMjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(102, 102, 255, 0.25)), color-stop(100%, rgba(179, 179, 255, 0.25)));
  background-image: -moz-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
  background-image: -webkit-linear-gradient(left, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25));
  background-size: 8.33333%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
.container:after, .l-content__slider:after, .c-program:after, .l-content__text:after {
  content: " ";
  display: block;
  clear: both;
}

.l-content__grid--four .l-content__col {
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.l-content__grid--three .l-content__col {
  width: 33.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.l-content__grid--two .l-content__col {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

/****************************
 Base styles
****************************/
/* Buttons *****************/
.c-btn {
  height: 48px;
  line-height: 48px;
  -moz-border-radius: 24px / 24px;
  -webkit-border-radius: 24px 24px;
  border-radius: 24px / 24px;
  padding: 0 24px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
}
.c-btn.bg--orange {
  color: #ffffff;
  background-color: #f7941e;
}
.c-btn.bg--orange:hover {
  text-decoration: none;
  background-color: #eb8913;
}
.c-btn.bg--blue {
  color: #ffffff;
  background-color: #0072bc;
}
.c-btn.bg--blue:hover {
  text-decoration: none;
  background-color: #0067a9;
}

.c-btn--small {
  height: 24px;
  line-height: 24px;
  -moz-border-radius: 12px / 12px;
  -webkit-border-radius: 12px 12px;
  border-radius: 12px / 12px;
  padding: 0 18px;
  font-size: 14px;
}

/* Forms *******************/
.c-form--horizontal {
  width: 83.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding: 0px;
}
.c-form--horizontal .l-form__col:first-child {
  width: 58.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 0px;
}
.c-form--horizontal .l-form__col:last-child {
  width: 41.66667%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.c-form__item {
  display: block;
  width: 100%;
  margin-top: 24px;
}

.c-form__input {
  border: none;
  background: transparent;
  padding: 5px 0px;
  border-bottom: 1px solid #b3d98f;
  color: #ffffff;
  font-size: 16px;
}
.c-form__input:-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
}
.c-form__input::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
}
.c-form__input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}
.c-form__input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}
.c-form__input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #cee6b7;
}
.c-form__input:first-child {
  margin-top: 0px;
}

.c-form__btn {
  border: none;
  width: auto;
}

.c-form__checkbox {
  margin-top: 12px;
}
.c-form__checkbox label {
  color: #ffffff;
  font-size: 14px;
}

/* Lists *******************/
.c-list-contact {
  list-style: none;
}

.c-list-contact__item {
  display: inline-block;
  margin-right: 8px;
}

/* Typography **************/
body {
  font-size: 16px;
  line-height: 24px;
  color: #6e6e6e;
  font-family: "ClearSans", sans-serif;
}

h1, .c-infoblock__title, .c-feature__title, h2, h3, h4 {
  font-family: "ClearSans", sans-serif;
  color: #373737;
}

h1, .c-infoblock__title, .c-feature__title {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  line-height: 42px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
}

h4 {
  font-size: 22px;
  line-height: 30px;
}

p {
  font-family: "ClearSans", sans-serif;
}

strong {
  font-family: "ClearSans", sans-serif;
}

a {
  text-decoration: underline;
}

.c-content__title--block {
  padding-top: 72px;
  padding-bottom: 24px;
}

/* Icons *******************/
.c-icon {
  background-image: url("../temp/images/icons+logo.png");
  background-repeat: no-repeat;
  display: inline-block;
}

.c-icon__calendar {
  background-position: 0px -246px;
  width: 78px;
  height: 82px;
  float: left;
  margin-right: 20px;
}

.c-icon__mapmaker {
  background-position: -101px -240px;
  width: 61px;
  height: 92px;
  float: left;
  margin-right: 20px;
}

.c-icon__telegram {
  background-position: -586px -229px;
  width: 64px;
  height: 64px;
  float: left;
  margin-top: 12px;
}

.c-icon__vk {
  background-position: -299px -229px;
  width: 63px;
  height: 63px;
  float: left;
  margin-top: 12px;
}

.c-icon__instagram {
  background-position: -443px -228px;
  width: 65px;
  height: 65px;
  float: left;
  margin-top: 12px;
}

.c-icon__viber {
  background-position: -667px -226px;
  width: 64px;
  height: 64px;
  float: left;
  margin-top: 12px;
}

.c-icon__phone {
  background-position: -516px -227px;
  width: 68px;
  height: 68px;
  float: left;
  margin-top: 12px;
}

/****************************
 Components styles
****************************/
/* Navigation **************/
.c-nav {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 20px;
}

.c-nav__item {
  display: inline-block;
  margin-right: 36px;
}
.c-nav__item.is-active .c-nav__link {
  font-weight: bold;
  color: #80bf44;
}

.c-nav__link {
  text-transform: uppercase;
  color: #373737;
}
.c-nav__link:visited {
  color: #373737;
}
.c-nav__link:focus {
  color: #80bf44;
}
.c-nav__link:hover {
  color: #80bf44;
}
.c-nav__link:active {
  color: #80bf44;
}

/* Infoblock ***************/
.c-infoblock {
  position: relative;
}
.c-infoblock:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: #80bf44;
  z-index: 1;
}

.c-infoblock__text {
  padding-top: 92px;
  padding-bottom: 115px;
  width: 58.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
  position: relative;
}

.c-infoblock__title {
  margin-bottom: 24px;
  color: #ffffff;
}

.c-infoblock__description {
  color: #ffffff;
  margin-bottom: 48px;
}

/* Slider ******************/
.c-slider__item {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding: 60px 0;
}

.c-slider__title {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 18px;
}

.c-slider__content {
  display: inline-block;
  width: 58.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 8.33333%;
}

.c-slider__subtitle {
  color: #ffffff;
}

.c-infoblock__footer {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 36px;
  margin-bottom: 48px;
}

.c-infoblock__date {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
}

.c-infoblock__map {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
  text-decoration: none;
  line-height: 92px;
}

.c-slider-nav {
  display: inline-block;
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 36px;
}

.c-slider-nav__item {
  width: 16.66667%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.c-slider-nav__title {
  width: 100%;
  display: inline-block;
  position: relative;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  z-index: 1;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}
.c-slider-nav__title:before {
  content: '';
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0px;
  left: 0px;
}
.c-slider-nav__title.bg-transparent--green:before {
  background-color: #80bf44;
}
.c-slider-nav__title.bg-transparent--blue:before {
  background-color: #0072bc;
}
.c-slider-nav__title.bg-transparent--orange:before {
  background-color: #f7941e;
}

.c-slider-nav__date {
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 24px;
}

/* Feature *****************/
.c-feature {
  padding-top: 270px;
}

.c-feature__item {
  width: 33.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  border: 10px solid #f7941e;
  padding: 18px;
  padding-top: 30px;
  min-height: 320px;
  position: relative;
}
.c-feature__item:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: -webkit-linear-gradient(rgba(247, 148, 30, 0), #f7941e);
  background: -o-linear-gradient(rgba(247, 148, 30, 0), #f7941e);
  background: linear-gradient(rgba(247, 148, 30, 0), #f7941e);
}

.c-feature__title {
  color: #ffffff;
  position: relative;
  z-index: 2;
}
.c-feature__title span {
  font-size: 130px;
  display: inline-block;
  line-height: 130px;
  width: 100%;
}

.c-feature__text {
  color: #ffffff;
  position: relative;
  z-index: 3;
}

/* Program *****************/
.c-program .l-content__col {
  margin-bottom: 0px;
}

.c-program__item {
  margin-bottom: 36px;
}
.c-program__item.is-notactive .c-program__title, .c-program__item.is-notactive .c-program__info, .c-program__item.is-notactive .c-program__description {
  color: #9c9c9c;
}
.c-program__item.is-notactive a {
  pointer-events: none;
  cursor: default;
}

.c-program__title a {
  color: inherit;
}

/****************************
 Modules styles
****************************/
/* Header ******************/
/* Logo main ------*/
.l-header__logo {
  width: 33.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 12px;
}

.c-logo__link {
  background-image: url("../temp/images/icons+logo.png");
  background-repeat: no-repeat;
  background-position: -299px -4px;
  width: 285px;
  height: 72px;
  display: inline-block;
}

/* Banner ---------*/
.l-header__banner {
  width: 41.66667%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.c-banner__text {
  font-size: 14px;
  color: #373737;
  margin-top: 24px;
  margin-bottom: 12px;
}

/* Logo small -----*/
.l-header__logo--small {
  width: 16.66667%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 48px;
}

/* Navigtion ------*/
.l-header__nav {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 992px) {
  .l-header {
    width: 100%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Footer ******************/
#footer {
  background-color: #1d1d1d;
  padding-top: 36px;
  padding-bottom: 48px;
}
#footer .c-content__title {
  color: #ffffff;
  font-weight: bold;
}
#footer .c-content__text {
  color: #ffffff;
}
#footer .c-content__text a {
  color: #ffffff;
}
#footer .c-form__input {
  border-bottom: 1px solid #9c9c9c;
}

.l-content__col.l-contact__register {
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.l-content__col.l-contact__follow {
  width: 25%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.l-content__col.l-contact__sign {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.l-content__col.l-contact__address {
  width: 50%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.l-content__col.l-contact__address .l-contact__logo {
  width: 58.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.l-content__col.l-contact__address .c-list-contact {
  width: 41.66667%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}
.l-content__col.l-contact__address .c-content__text {
  width: 100%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 36px;
}

.l-content__col.l-contact__phone {
  width: 33.33333%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 48px;
}
.l-content__col.l-contact__phone .c-list-contact {
  float: left;
}
.l-content__col.l-contact__phone .c-content__text {
  float: left;
}
.l-content__col.l-contact__phone .c-content__text a {
  margin-top: 36px;
  text-decoration: none;
  display: inline-block;
}

.l-content__col.l-contact__dev {
  width: 16.66667%;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 48px;
}
.l-content__col.l-contact__dev .c-content__text a {
  text-decoration: none;
}

/* Sidebar *****************/
/* Home ********************/
.l-content__text .l-content__col {
  margin-bottom: 48px;
}
.l-content__text .l-content__col .c-content__text {
  margin-top: 15px;
  color: #6e6e6e;
}

.c-content__title.bg--green {
  font-weight: bold;
  padding: 8px 13px;
  display: inline;
}

/* Contact *****************/
img {
  max-width: 100%;
}
