// ----------------------- //
// Grids style ----------- //
// ----------------------- //

/* Susy Grids -----*/
@import "../../vendor/susy/sass/susy";
$susy: (
  columns: 12, 
  gutters: 30px/70px,
  column-width: 70px,
  gutter-position: inside-static,
  global-box-sizing: border-box,
  debug: (
      image: show,
      //image: hide,
      color: rgba(#66f, .25),
      output: background
      
  )
);

@include border-box-sizing;

.container {
    @include container;
}

.l-content__grid--four {
    .l-content__col {
        @include span(3);
        @media (min-width: $screen_md) and (max-width: $screen_lg) {
            @include span(3);        
        }
        @media (min-width: $screen_sm) and (max-width: $screen_md) {
            @include span(6);
            &:nth-child(2n+1) {
               clear: left; 
            }
        }
        @media (min-width: $screen_xs) and (max-width: $screen_sm) {
            @include span(12);      
        }                  
    }   
}
.l-content__grid--three {
    .l-content__col {
        @include span(4);
        @media screen and (max-width: $screen_md) {
            @include span(12);
        }           
    }    
}
.l-content__grid--two {
    .l-content__col {
        @include span(6);      
        @media (min-width: $screen_sm) and (max-width: $screen_md) {
            @include span(6); 
        }
        @media (min-width: $screen_xs) and (max-width: $screen_sm) {
            @include span(12);
        }           
    }
}
