// ----------------------- //
// Grids style ----------- //
// ----------------------- //

/* Susy Grids -----*/
@import "../vendor/susy/sass/susy";
$susy: (
  columns: 12, 
  gutters: 30px/70px,
  column-width: 70px,
  gutter-position: inside-static,
  global-box-sizing: border-box,
  debug: (
      image: show-columns,
      color: rgba(#66f, .25),
      output: background
  )
);

@include border-box-sizing;

.container {
    @include container;
}

.l-content__grid--four {
    .l-content__col {
        @include span(3);
    }
}
.l-content__grid--two {
    .l-content__col {
        @include span(6);
    }
}
