// ----------------------- //
// Grids style ----------- //
// ----------------------- //

/* Susy Grids -----*/
@import "../vendor/susy/sass/susy";
$susy: (
  columns: 12, 
  gutters: 30px/70px,
  column-width: 70px,
  gutter-position: inside-static,
  
  global-box-sizing: border-box,
  debug: (image: show-columns)
);
@include border-box-sizing;
