// ----------------------- //
// Slider style ---------- //
// ----------------------- //

.l-content__slider {   
    @extend .container;
    .c-content__title {
        padding-top: $padding_base * 3;
        padding-bottom: $padding_base;
    } 
}
.c-slider {
}
.c-slider__item {
    @include span(12);
    padding: $padding_base * 2.5 0;
}
.c-slider__title {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: $padding_base - 6;
}
.c-slider__content {
    display: inline-block;
    @include span(7);
    @include push(1);
}
.c-slider__subtitle {
    color: $color_white;
    
}
.c-infoblock__footer {
    @include span(12);
    margin-top: $padding_base * 1.5;
    margin-bottom: $padding_base * 2;
}
.c-infoblock__date {
    @include span(6);
    color: $color_white;
}
.c-infoblock__map {
    @include span(6);
    color: $color_white;
    text-decoration: none;
    line-height: 92px; //TEMP
}

.c-slider-nav {
    display: inline-block;
    @include span(12);
    margin-top: $padding_base * 1.5;
}
.c-slider-nav__item {    
    @include span(2);
}
.c-slider-nav__title {
    width: 100%;
    display: inline-block;
    position: relative;
    color: $color_white;
    font-size: $font_size_base - 2;  
    line-height: $line_height_base;
    z-index: 1;
    margin-top: $padding_base/2;
    margin-bottom: $padding_base/2;
    padding-left: 10px;
    padding-right: 10px;
    &:before {
        content: '';
        opacity: 0.6;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0px;
        left: 0px;
    }
    &.bg-transparent--green {
        &:before {
          background-color: $color_green;  
        }        
    }
    &.bg-transparent--blue {
        &:before {
          background-color: $color_blue;
        }
        
    }   
    &.bg-transparent--orange {
        &:before {
          background-color: $color_orange;  
        }        
    }      
}
.c-slider-nav__date {
    padding-left: 10px;
    padding-right: 10px;    
    color: $color_white;
    font-size: 14px;    
    margin-bottom: $padding_base;
}