// ----------------------- //
// Icons style ----------- //
// ----------------------- //

.c-icon {
    background-image: url('../temp/images/icons+logo.png'); //TEMP
    background-repeat: no-repeat; //TEMP 
    display: inline-block;    
}
.c-icon__calendar {
    background-image: url('data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB        BZG9iZSBJbGx1c3RyYXRvciAxOS4yLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW        9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM        SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov        L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA        2Ny44IDcyLjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDY3LjggNzIuNjsiIH        htbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe2Zpb        Gw6I0ZGRkZGRjt9DQo8L3N0eWxlPg0KPGc+DQoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTY2LjYs        NC44aC04LjVWMS4yYzAtMC43LTAuNS0xLjItMS4yLTEuMmgtOC41Yy0wLjcsMC0xLjIsMC41LTE        uMiwxLjJ2My42SDIwLjZWMS4yQzIwLjYsMC41LDIwLDAsMTkuNCwwDQoJCWgtOC41Yy0wLjcsMC        0xLjIsMC41LTEuMiwxLjJ2My42SDEuMkMwLjUsNC44LDAsNS40LDAsNi4xdjY1LjRjMCwwLjcsM        C41LDEuMiwxLjIsMS4yaDY1LjRjMC43LDAsMS4yLTAuNSwxLjItMS4yVjYuMQ0KCQlDNjcuOCw1        LjQsNjcuMyw0LjgsNjYuNiw0LjhMNjYuNiw0Ljh6IE00OS42LDIuNGg2LjF2Ny4zaC02LjFWMi4        0eiBNMTIuMSwyLjRoNi4xdjcuM2gtNi4xVjIuNHogTTIuNCw3LjNoNy4zdjMuNg0KCQljMCwwLj        csMC41LDEuMiwxLjIsMS4yaDguNWMwLjcsMCwxLjItMC41LDEuMi0xLjJWNy4zaDI2LjZ2My42Y        zAsMC43LDAuNSwxLjIsMS4yLDEuMmg4LjVjMC43LDAsMS4yLTAuNSwxLjItMS4yVjcuM2g3LjN2        MTAuOUgyLjQNCgkJVjcuM3ogTTIuNCw3MC4yVjIwLjZoNjIuOXY0OS42SDIuNHogTTIuNCw3MC4        yIi8+DQoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTQzLjYsMjcuOEgxMC45VjYzaDQ2VjI3LjhIND        MuNnogTTM1LjEsMzAuM2g4LjV2OC41aC04LjVWMzAuM3ogTTQzLjYsNDkuNmgtOC41di04LjVoO        C41VjQ5LjZ6IE0yNC4yLDQxLjINCgkJaDguNXY4LjVoLTguNVY0MS4yeiBNMjQuMiwzMC4zaDgu        NXY4LjVoLTguNVYzMC4zeiBNMTMuMywzMC4zaDguNXY4LjVoLTguNVYzMC4zeiBNMTMuMyw0MS4        yaDguNXY4LjVoLTguNVY0MS4yeiBNMjEuOCw2MC41aC04LjUNCgkJdi04LjVoOC41VjYwLjV6IE        0zMi43LDYwLjVoLTguNXYtOC41aDguNVY2MC41eiBNNDMuNiw2MC41aC04LjV2LTguNWg4LjVWN        jAuNXogTTU0LjUsNjAuNUg0NnYtOC41aDguNVY2MC41eiBNNTQuNSw0OS42SDQ2di04LjUNCgkJ        aDguNVY0OS42eiBNNTQuNSwzMC4zdjguNUg0NnYtOC41SDU0LjV6IE01NC41LDMwLjMiLz4NCjwvZz4NCjwvc3ZnPg0K');  
    background-repeat: no-repeat;
    width: 30px; 
	height: 30px;  
    float: left;  
    margin-right: $padding_base / 2;
}
.c-icon__mapmaker {
    background-image: url('data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB        BZG9iZSBJbGx1c3RyYXRvciAxOS4yLjEsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW        9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM        SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov        L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA        1NC40IDgyIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1NC40IDgyOyIgeG1sOn        NwYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7ZmlsbDpub        25lO3N0cm9rZTojRkZGRkZGO3N0cm9rZS13aWR0aDoyLjExMDU7c3Ryb2tlLW1pdGVybGltaXQ6        MTA7fQ0KPC9zdHlsZT4NCjxnPg0KCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0yNy4yLDEuMUMxMi4        4LDEuMSwxLjEsMTIuOCwxLjEsMjcuMmMwLDUuOCwzLjcsMTUuMywxMS4zLDI4LjljNS40LDkuNy        wxMC43LDE3LjcsMTAuOSwxOC4xbDMuOSw1LjlsMy45LTUuOQ0KCQljMC4yLTAuMyw1LjUtOC40L        DEwLjktMTguMUM0OS42LDQyLjUsNTMuMywzMyw1My4zLDI3LjJDNTMuMywxMi44LDQxLjYsMS4x        LDI3LjIsMS4xTDI3LjIsMS4xeiBNMjcuMiw0MC42DQoJCWMtNy41LDAtMTMuNi02LjEtMTMuNi0        xMy42YzAtNy41LDYuMS0xMy42LDEzLjYtMTMuNmM3LjUsMCwxMy42LDYuMSwxMy42LDEzLjZDND        AuOCwzNC41LDM0LjcsNDAuNiwyNy4yLDQwLjZMMjcuMiw0MC42eg0KCQkgTTI3LjIsNDAuNiIvPg0KPC9nPg0KPC9zdmc+DQo=');  
    background-repeat: no-repeat;
    width: 25px; 
	height: 36px;  
    float: left;  
    margin-right: $padding_base / 2;
}
.c-icon__telegram {
    background-position: -586px -229px; //TEMP
    width: 64px; //TEMP
	height: 64px;   //TEMP    
    float: left;
    margin-top: $padding_base / 2;
}
.c-icon__vk {
    background-position: -299px -229px; //TEMP
    width: 63px; //TEMP
	height: 63px;   //TEMP    
    float: left;
    margin-top: $padding_base / 2;
}
.c-icon__instagram {
    background-position: -443px -228px; //TEMP
    width: 65px; //TEMP
	height: 65px;   //TEMP    
    float: left;
    margin-top: $padding_base / 2;
}
.c-icon__viber {
    background-position: -667px -226px; //TEMP
    width: 64px; //TEMP
	height: 64px;   //TEMP    
    float: left;
    margin-top: $padding_base / 2;
}
.c-icon__phone {
    background-position: -516px -227px; //TEMP
    width: 68px; //TEMP
	height: 68px;   //TEMP    
    float: left;
    margin-top: $padding_base / 2;
}
