// ----------------------- //
// Home style ------------ //
// ----------------------- //

.l-content__text {
    @extend .container;
}
.l-content__col {
    .c-content__text {
        margin-top: 15px;
        color: $color_gray;
    }
    margin-bottom: $padding_base * 2;
}
.c-content__title {
    &.bg--green {
        font-weight: bold;
        padding: 8px 13px;
        display: inline;
    }
}